*{
    box-sizing: border-box;
}

 /* start banner slider style */
 .biker-zone-bg-red{
    background-color: rgba(255, 0, 0, 0.493);
 }

/* End banner slider style */

/* start Happy client style */
.rating-icon img{
    width: 20px;
}

/* End Happy client style */

